<footer class="site-footer bg-dark" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          
          <h2 class="text-white">Info</h2>
          <ul class="list-unstyled footer-link">
            <li><span class="mr-3 d-block">Registered company name:</span><span class="text-white">Steman Construction Pty(Ltd)</span></li>
            <li><span class="mr-3 d-block">Company Registration No:</span><span class="text-white">K2017228950</span></li>
             </ul>
          <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
          </p>
          
        </div>
        <div class="col-md-3">
          <h2 class="text-white">Contacts</h2>
          <ul class="list-unstyled footer-link">
            <li><span class="mr-3 d-block">Address:</span><span class="text-white">14512 Sunrise Avenue, Glen Ridge, Soweto, South Africa</span></li>
            <li><span class="mr-3 d-block">Phone:</span><span class="text-white">078 007 2887</span> </li>
            <!-- <li><span class="mr-3 d-block">Fax:</span><span class="text-white">+1 242 4942 290</span></li> -->
            <li><span class="mr-3 d-block">E-mail:</span><span class="text-white">stemavovo@gmail.com</span></li>
          </ul>
        </div>
        <!-- <div class="col-md-3">
          <h2 class="text-white">Quick Links</h2>
          <ul class="list-unstyled footer-link">
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="works.html">Works</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div> -->
        <div class="col-md-3">
          <h2 class="text-white">Social</h2>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <!-- <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li> -->
            <li><a href="https://wa.me/+27780072887" class="p-2"><span class="fa fa-whatsapp"></span></a></li>
            <li><a href="https://www.facebook.com/steman.tiling/" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <!-- <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li> -->
            <!-- <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- END footer -->