<section class="section">
    <div class="container">
      <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-8 text-center mb-5">
          <h2 class="text-uppercase heading border-bottom mb-4">Testimonials</h2>
          <p class="mb-0 lead">Read what our clients have to say about our work.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 element-animate">
          <div class="media d-block media-testimonial text-center">
            <!-- <img src="img/person_1.jpg" alt="Image placeholder" class="img-fluid mb-3"> -->
            <p>Customer 1 - Soweto</p>
            <div class="media-body">
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.&rdquo;</p>  
              </blockquote>

            </div>
          </div>
        </div>

        <div class="col-md-6 element-animate">
          <div class="media d-block media-testimonial text-center">
            <!-- <img src="img/person_3.jpg" alt="Image placeholder" class="img-fluid mb-3"> -->
            <p>John Doe - Pretoria</p>
            <div class="media-body">
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.&rdquo;</p>  
              </blockquote>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- END section -->